h3, h4{
    text-align: center;
}
.container {
    margin-top: 40px;
    .borrar-tweet,
    .borrar-tweet:hover {
        float: right;
        cursor: pointer;
        color: red;
        font-weight: bold;
    }
}